.App {
  text-align: center;
}

body{
  background-color:lightpink;
}

.frontpage-h1{
  color: white;
  text-align: center;
}

.frontpage-section{
  border: 2px solid;
  border-color: white;
  width: 70%;
  max-width: 450px;
  min-height: 450px;
  padding: 1rem;
  margin: auto;
  margin-top: 70px;
}

.frontpage-div-control{
  display:flex ;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.frontpage-label{
  color:white;
  margin-left: 40px;
  margin-right: 30px;
}

.frontpage-div2{
  display: flex;
  margin-top: 20px;
}

.frontpage-button{
  width: 200px;
  height: 45px;
  align-self: center;
  margin-top: 20px;
}