.App {
  text-align: center;
}

body{
  background-color:lightpink;
}

.frontpage-h1{
  color: white;
  text-align: center;
}

.frontpage-section{
  border: 2px solid;
  border-color: white;
  width: 70%;
  max-width: 450px;
  min-height: 450px;
  padding: 1rem;
  margin: auto;
  margin-top: 50px;
}

.frontpage-div-control{
  display:flex ;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.frontpage-label{
  color:white;
  margin-left: 40px;
  margin-right: 30px;
}

.frontpage-div2{
  display: flex;
  margin-top: 20px;
}

.frontpage-button{
  width: 200px;
  height: 45px;
  align-self: center;
  margin-top: 20px;
}

.frontpage-input-date{
  width: 120px;
  height: 20px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.small-text {
  font-size: 9px; 
}